@import "components/ceres/ceres";

$colorFirst: #205a2d;
$colorSecond: #328c46;

.logo {
  margin-top: 75px;
  margin-bottom: 30px;
  max-width: 365px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
  iframe {
    width: 100%;
    height: 380px;
  }
}

.smallIcons {
  max-width: 25px ;
}

body {
  background-color: #fafafa;
  font-family: europa, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $colorSecond;
}

.colorFirst {
  color: $colorFirst;
}

.colorSecond {
  color: $colorSecond;
}

.elementinho {
  border: none;
  background-color: $colorFirst;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 1000px;
  margin: 15px 0;
  font-family: inherit;
  font-size: 17px;
}

.smallTitle {
  font-size: 18px;
  color: $colorFirst;
}

img {
    width: 100%;
}